<div>
	<div id="techList">
		<form>
			<input type="text" ng-model="getTech" placeholder="Display tree ('techs' = demo)" autofocus>
			<input type="submit" class="visualizeBtn" value="get/create tech tree" ng-click="getTechTree(getTech)"><br>
		</form>
		<h2 ng-show="Ttc.name">{{Ttc.name}}</h2><br>
		<form><input type="text" ng-model="searchTech" placeholder="Search for..."><input ng-show="searchTech" type="button" ng-click="searchTech = ''" class="saveBtn" value="clear filter"></form><br>
		<div class="tech" ng-click="reconnectEditedTech($event, tech)" ng-repeat="tech in Ttc.technologies | filter:searchTech | orderBy:'name'">
			<div class="general_ability">{{tech.general_ability}}</div>
			<div class="general_effect">{{tech.general_effect}}</div>
			<div class="resource_ability">{{tech.resource_ability}}</div>
			<div class="has_prerequisites">{{tech.has_prerequisites}}</div>
			<div class="is_prerequisite_for">{{tech.is_prerequisite_for}}</div>
			<div class="name">{{tech.name}}</div>
			<div class="unlocks_buildings">{{tech.unlocks_buildings}}</div>
			<div class="unlocks_units">{{tech.unlocks_units}}</div>
		</div>
	</div>
	<div id="techEditor">
		<form>
			<div class="name">Name<input type="text" ng-model="editor.name"></div>
			<div class="has_prerequisites">Prerequisites<input type="text" ng-model="editor.has_prerequisites"></div>
			<div class="is_prerequisite_for">Tech leads to<input type="text" ng-model="editor.is_prerequisite_for"></div>
			<div class="general_ability">General Ability<input type="text" ng-model="editor.general_ability"></div>
			<div class="general_effect">General Effect<input type="text" ng-model="editor.general_effect"></div>
			<div class="resource_ability">Resource Ability<input type="text" ng-model="editor.resource_ability"></div>
			<div class="unlocks_buildings">Unlocks buildings<input type="text" ng-model="editor.unlocks_buildings"></div>
			<div class="unlocks_units">Unlocks units<input type="text" ng-model="editor.unlocks_units"></div>
			<input class="saveBtn" type="submit" value="save changes" ng-click="saveEdits()" ng-show="editing">
			<input class="saveBtn" type="button" value="create new tech" ng-click="createTech()" ng-show="Ttc.name">
			<input class="saveBtn" type="button" value="upload tech tree" ng-click="sendTechTree()" ng-show="techsExist">
		</form>
	</div>
</div>